* {
    font-family: "Quicksand", sans-serif;
}


.link {
    text-decoration: none;
    color: #252525;
}

.link1 {
    text-decoration: none;
    color: inherit;
}
 

.link:hover {
    color: black;
}

body {
    overflow-x: hidden;
}

p {
    font-weight: 400;
}

.border-s {
    border: 1px solid rgb(173, 173, 173);
}

.item img {
    height: 20px;
    width: 50px;
    justify-items: stretch;
}



.button{
    height: 130px;
    width: 120px;
    border-radius: 10px;
}


.l {
    margin-left: -100px;
    opacity: 0;
    font-size: 24px;
    color: white;
    font-weight: 900;
    transition: .2s ease-in-out;
}

.r {
    margin-right: -100px;
    opacity: 0;
    font-size: 24px;
    color: white;
    font-weight: 900;
    transition: .2s ease-in-out;

}


.button:hover .l {
    margin-left: 0px;
    opacity: 1;
}

.button:hover .r {
    margin-right: 1px;
    opacity: 1;
}

.radius{
    border-radius: 15px;
}

.radius-s {
    border-radius: 10px;
}

.item p {
    align-items: center;
    font-size: 12px;
}


.img-main {
    display: flex;
    height: 500px;
    margin-right: -123px;
}


.judul {
    font-weight: 900;
    padding-right: 200px; 
}

.postc {
    width: 200px;
    height: 220px;  
    border-radius: 20px;
    background: white;
    color: black;
    z-index: 1;
    transition: .1s ease-in-out;
    overflow: hidden;
}
.img1 {
    border-radius: 20px;
    max-width: 200px;
    max-height: 210px;
    object-fit: cover;
}


.brandn1 {
    position: relative;
    background: #f5f5f5;
    font-weight: 600;
    font-size: 14px;
    width: 200px;
    height: 45px;
    top:-20px;
    padding-top: auto;
    padding-left: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.hidden {
 visibility: hidden;
 opacity: 0;
}

.postc:hover {
    box-shadow: 1px 2px 5px rgba(53, 53, 53, 0.8);
    top: -5px;
    height: 350px;
    cursor: pointer;
}

.postc:hover .img1 {
    transform: scale(1.1) rotate(-3deg);
}

.postc:hover .hidden{
    visibility: visible ;
    opacity: 1;
} 


.highlights {
    height: 400px;
    background: white;
    border-radius: 20px;
}   

.item-brand img {
    width: 100%;
    max-width: 100px;
    background-size: cover;
}


.box-content{
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(53, 53, 53, 0.365);
    background-color:white;
}

.margintop-content {
    margin-top: 100px;
}

.kontainer {
    max-height: 600px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.logo-slider .slick-slide img{
    margin: auto;
}

.slick-dots li button:before {
    margin: 0 auto;
}

.slick-next:before,
.slick-prev::before {
    color: #252525;
    font-size: 24px;
}

.title {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

.title-atas {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}


.bag-title{
    margin-bottom: -30px;
}
.linkstyle {
    text-decoration: none; 
    text-align: end; 
    color: black;
}

.linkstyle:hover {
    color: #7f7ea6;
    cursor: pointer;
}

.checkme:checked + label {
    display: none;
} 

#logoslider {
    display: block;
}

#all-logo {
    visibility: hidden;
}

#kontainer {
    height: 200px;
    width: "";
    transition: .1s ease-in-out;
}
.pointer {
    cursor: pointer;
}
.text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 30px;
}

.new {
    height: 45px;
    width: 50px;
    background-color: #252525;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    padding: 8px;
    font-weight: 700;
    position: absolute;
    z-index: 1;
}

.img-kategori{
	width: 98%;
	margin-top: 25px;
}

.square {
	height: 300px;
	width: 300px;
}

.NEWS img{
    width: 100%;
}

@media (max-width: 900px) {
    .pc {   
      display: none;
    }
    .postc{
        position: relative;
    }
  }